# <h1>This is single line comment </h1>

In [4]:
#this is a comment
'''this is another comment'''

'this is another comment'

<h2>python variables</h2>

In [6]:
x=5
y="abhishek"
type(x)
type(y)

str

<h3>Type casting</h3>

In [7]:
x = str(3)
type(x)

str

<h3>case Sensetive</h3>

In [12]:
a= "abhishek"
A="ram"
print(a,A)

abhishek ram

<h3>Illegal variables</h3>

2myvar="Abhishek"
my-var="Abhishek"
my var="abhishek"

<h3>python datatypes</h3>

In [14]:
#str,int,float,complex,list,tuple,range,dict,set,bool etc..
x = "hello world"
print(type(x))

<class 'str'>

In [17]:
x = 20
print(type(x))

<class 'int'>

In [19]:
x = 1j
print(type(x))

<class 'complex'>

In [21]:
y = ('abhi','adhikari')
print(type(y))

<class 'tuple'>

In [22]:
y = {'abhishek', 'adhikari'}
print(type(y))

<class 'set'>

In [23]:
y = {'name':'abhishek', 'age':23}
print(type(y))

<class 'dict'>

In [25]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [26]:
x = frozenset({'apple','orange'})
print(type(x))

<class 'frozenset'>

In [28]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

x-=3 --> x = x-3
x=+3 --> x = x+3
x*=4 --> x= x*4
x /=5 --> x= x/5
x %=5 --> x=  x%5

<h3>Python list</h3>

In [33]:
a = ['apple','banana','cherry','something','mango']
print(a[0])
print(a[:4])

apple
['apple', 'banana', 'cherry', 'something']

<h3>Negative indexing</h3>

In [38]:
print(a[-1])
print(a[-4:-1])

mango
['banana', 'cherry', 'something']

In [41]:
if 'apple' in a:
    print('yeah it exists')

yeah it exists

<h3>Change item value</h3>

In [42]:
a[1]='some-fruite'
print(a)

['apple', 'some-fruite', 'cherry', 'something', 'mango']

<h3>Change the range of item values</h3>

In [44]:
a[1:3]=['good fruit','bad fruit']
print(a)

['apple', 'good fruit', 'bad fruit', 'something', 'mango']

<h3>Inserting method in a list</h3>

In [47]:
a.insert(2, "watermelon")
a.append('second cherry')
print(a)

['apple', 'good fruit', 'watermelon', 'watermelon', 'watermelon', 'bad fruit', 'something', 'mango', 'second cherry']

<h3>Extending a list</h3>

In [49]:
b=['item1','item2','item3']
a.extend(b)
print(a)

['apple', 'good fruit', 'watermelon', 'watermelon', 'watermelon', 'bad fruit', 'something', 'mango', 'second cherry', 'item1', 'item2', 'item3', 'item1', 'item2', 'item3']

<h3>Remove the list</h3>

In [50]:
a.remove(a[1])
print(a)

['apple', 'watermelon', 'watermelon', 'watermelon', 'bad fruit', 'something', 'mango', 'second cherry', 'item1', 'item2', 'item3', 'item1', 'item2', 'item3']

In [53]:
a.pop(3)
del a[4]
del a[5]
print(a)

['apple', 'watermelon', 'watermelon', 'second cherry', 'item2', 'item1', 'item2', 'item3']

In [54]:
a.clear()
print(a)

[]

In [60]:
my_list=['apple', 'watermelon', 'watermelon', 'second cherry', 'item2', 'item1', 'item2', 'item3']
[print(x) for x in my_list]

apple
watermelon
watermelon
second cherry
item2
item1
item2
item3

[None, None, None, None, None, None, None, None]

In [62]:
for i in range(len(my_list)):
    print(my_list[i])

apple
watermelon
watermelon
second cherry
item2
item1
item2
item3

<h3>sorting the list</h3>

In [65]:
my_list.sort(reverse=True)
print(my_list)

['watermelon', 'watermelon', 'second cherry', 'item3', 'item2', 'item2', 'item1', 'apple']

<h3>Sets</h3>

In [7]:
set1 = {'a','b','c'}
set2 = {1,2,3,'a'}
set3 = set1.union(set2)
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))
print(set3)
print(set1 | set2)

{'a'}
{'b', 'c'}
{1, 2, 3, 'b', 'c'}
{1, 2, 3, 'b', 'a', 'c'}
{1, 2, 3, 'b', 'a', 'c'}

<h3>Python Dictionary</h3>

In [10]:
mydict={'name':'abhishek','age':'23','class':'ml'}
print(mydict['name'])
print(len(mydict))

abhishek
3

In [11]:
mydict = dict(name='abhishek', age=23, country='Nepal')
print(mydict)

{'name': 'abhishek', 'age': 23, 'country': 'Nepal'}

List is a collection of ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, uncahngeable and unindexed. No duplicate members
Dictionary is a collection which is ordered and changeable. Nod duplicate members allowed.